[Unit]
Description=VRSE Payload Control Script
Documentation=https://github.com/ShekelsBot/RockSat2020
Before=network-pre.target
Wants=network-pre.target

[Service]
WorkingDirectory=/home/pi/RockSat2020
Type=simple
User=pi
ExecStart=/usr/bin/python /home/pi/RockSat2020/control.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
